.courseassignmentform__header {
    font-weight: bold;
    font-size: large;
}

.courseassignmentform {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 1em;
    height: 80vh;
}

.courseassignmentform.button {
    gap: 0.5em;
}

details summary {
    font-weight: bold;
}

details ol {
    padding-left: 1.5em;
}

details p {
    font-weight: bold;
    padding: 0.5em;
}

button {
    padding: 1em;
}