.quartercard__header {
    font-weight: bold;
    font-size: large;
    text-align: center;
    padding: .5em 0em;
    background-color: white;
    border-bottom: 1px lightgray solid;
}

.quartercard__body {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
    padding: 0.5em 1em;
    border-radius: 0 0 8px 8px;
    border: 1px solid #eee;
    background-color: #f2f2f2;
}

.quartercard__body .coursecard {
    align-self: stretch;
}