* {
  font-family: sans-serif
}

.App {
  padding: 1em;
  max-width: 1600px;
  margin: 0 auto;
  display: grid;
  gap: 0 1em;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas: 
    "header header header"
    "coursecatalog form quartercatalog";
}

/* TODO: Stretch Goal - Add media query to support printing degree plan with print button */
@media screen and (max-width: 1000px) {
  .App {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
      "header header"
      "form form"
      "coursecatalog quartercatalog";
  }
}

h1 {
  font-size: 2em;
  margin: 0.25em;
}
.App__header {
  grid-area: header;
  text-align: center;
}

.App__coursecatalog {
  grid-area: coursecatalog;
}

.App__form {
  grid-area: form;
}

.App__quartercatalog {
  grid-area: quartercatalog;
}